@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&family=Lora&display=swap');

        body{
            background-color: rgb(238, 130, 130);
        }
        .painel{
            margin: auto;
            background-color: #F0EDE6;
            width: 500px;
            height: 500px;
            border-radius: 20px;
            text-align: center;
            padding-top: 50px;
            font-family: 'IBM Plex Serif', serif;
            font-family: 'Lora', serif;
        }
        
        button#sim{
            position: absolute;
            height: 40px;
            width: 60px;
            background-color: rgb(238, 130, 130);
            border: 2px solid white;
            border-radius: 10px;
            color: white;
            margin-left: -50px;
        }
        button#nao{
            position: absolute;
            height: 40px;
            width: 60px;
            background-color: rgb(238, 130, 130);
            border: 2px solid white;
            border-radius: 10px;
            color: white;
            margin-left: 10px;
        }
        h1{
            margin: 5px;
        }
        p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-top: 10px;
        }
        